<body>
<div class = "table-background">
    <table>
        <thead>
           <!-- <th>userId</th> -->
            <th>Category</th>
            <th>Subject</th>
            <th>Blog</th>
             <th>Gif</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let blog of blogs">
              <!--  <td>{{blog.userId}}</td>  -->
                <td>{{blog.category}}</td>
                <td>{{blog.subjectLine}}</td>
                <td>{{blog.blogBody}}</td>
                <td><img [src] = "blog.giphyPull"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
