
* {
    list-style: none; /* removes default list bullets */ 
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: rgba(242, 242, 254, 0.7);
    overflow-x: hidden;
    background: #0f0f3e;
    font-size: 0.9rem;
}
