<!--  main-page.component.html -->
<div class="main-contianer">




    <!--  nav-bar -->
     <app-nav-bar> </app-nav-bar>
    
    
    
    
    <!--  blog-form -->
    <section class="blog-form">
        <app-blog-form></app-blog-form>
    </section>
    
    
    <!--  Post List component to show recent or all posts -->
    <section class="post-list">
     <!--   <post-list></post-list>  -->
    </section>
    

      </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--
    <body>
    <nav>
        <div class="container nav__container">
            <a href="index.html" class="nav__logo">KajBlog</a>
        </div>
        <ul class="options">
            <li><a href="main-page.component.html">Home</a></li>
            <li><a href="create-blog.component.html">Create Blog</a></li>
            <li><a href="favorite.ts">Favorites</a></li>
        </ul>
    </nav>
    </body>
    -->
    