<form [formGroup]="blogForm" (ngSubmit)="onSubmit()">

    <!-- Category Input Field -->
     <div>
        <label for="category">Category</label>
        <input id="category" formControlName="category" type="text">
        <div *ngIf="blogForm.get('category')?.invalid && blogForm.get('category')?.touched">
            Category is required
        </div>
     </div>

     <div>
        <label for="subjectLine">Subject Line</label>
        <input id="subjectLine" formControlName="subjectLine" type="text">
        <div *ngIf="blogForm.get('subjectLine')?.invalid && blogForm.get('subjectLine')?.touched">
            Subject Line is Required
        </div>
     </div>

     <div>
        <label for="blogBody">Blog Body</label>
        <input id="blogBody" formControlName="blogBody" type="text">
        <div *ngIf="blogForm.get('blogBody')?.invalid && blogForm.get('blogBody')?.touched">
            Blog Body is Required
        </div>
     </div>

     <div>
        <app-gifs (gifEvent)="onGiphySelected($event)"></app-gifs>
     </div>

     <div *ngIf="blogForm.get('giphyPull')?.value"><h3>Selected GIF:</h3><img [src]="blogForm.get('giphyPull')?.value" alt="Selected Giphy" /></div>
     <button type="submit">Submit</button>
    </form>